SELECT CONSTRAINT_NAME, TABLE_NAME FROM INFORMATION_SCHEMA.CONSTRAINTS WHERE TABLE_NAME IN ('STUDENTS', 'FLAGGED_QUESTIONS', 'PRACTICE_SESSION_DETAILS', 'STUDENT_NOTES') AND CONSTRAINT_TYPE = 'REFERENTIAL';
